<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Welcome to the Football Teams Project</h1>
        <div class="text-center">
            <button class="btn btn-primary btn-lg" onclick="window.location.href='/times/all'">All teams</button>
            <button class="btn btn-secondary btn-lg" onclick="showTimeForm()">Specific team</button>
        </div>
        <div id="timeForm" style="display:none;" class="mt-3">
            <button class="btn btn-info" onclick="showIdInput()">ID</button>
            <button class="btn btn-info" onclick="showNameInput()">Name</button>
            <form id="searchForm" action="/times/time" method="GET" style="display:none;">
                <div class="form-group" id="idInput" style="display:none;">
                    <label for="timeId">Enter the team ID:</label>
                    <input type="number" id="timeId" name="time_id" class="form-control">
                </div>
                <div class="form-group" id="nameInput" style="display:none;">
                    <label for="teamName">Enter the team name:</label>
                    <input type="text" id="teamName" name="team_name" class="form-control">
                </div>
                <input type="submit" value="Buscar" class="btn btn-success">
            </form>
        </div>
    </div>

    <script>
        document.getElementById('searchForm').addEventListener('submit', function(e) {
            e.preventDefault();
            var timeId = document.getElementById('timeId').value;
            var teamName = document.getElementById('teamName').value;

            if (timeId) {
                window.location.href = '/times/time?time_id=' + timeId;
            } else if (teamName) {
                window.location.href = '/times/team_name?team_name=' + teamName;
            }
        });

        function showTimeForm() {
            document.getElementById('timeForm').style.display = 'block';
        }

        function showIdInput() {
            document.getElementById('searchForm').style.display = 'block';
            document.getElementById('idInput').style.display = 'block';
            document.getElementById('nameInput').style.display = 'none';
        }

        function showNameInput() {
            document.getElementById('searchForm').style.display = 'block';
            document.getElementById('nameInput').style.display = 'block';
            document.getElementById('idInput').style.display = 'none';
        }
    </script>
</body>
</html>