<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos os Times</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container center-screen">
        <div class="jumbotron text-center bg-white border border-light">
            <h1 class="display-4">All Teams</h1>
        </div>
        <ul class="list-group">
            {% for time in times %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ time.nome_popular }}
                <a href="/times/{{ time.time_id }}" class="btn btn-info btn-sm">Details</a>
            </li>
            {% endfor %}
        </ul>
        <div class="text-center mt-3">
            <button class="btn btn-primary" onclick="window.location.href='/'">Back</button>
        </div>
    </div>
</body>
</html>
